@font-face {
    font-family: Garamond;
    src: url(../public/GARA.TTF);
}

@font-face {
    font-family: FilsonProRegular;
    src: url(../public/FilsonProRegular.ttf);
}

.center {
    text-align: center;
}

@media only screen and (min-width: 40em) {
    .left-right-align span { 
        display:block;
        float:right;
        margin-left:10px;
        text-align:left;
    }
}

@media only screen and (max-width: 40em) {
    span {
        display: block;
    }
}

@media only screen and (min-width: 63em) {
    body {
        margin: 0 10% 0 10%;
    }
}

body {
    font-family: 'Garamond';
}

hr {
    margin-top: -1%;
}

.blog {
    font-family: 'FilsonProRegular';
    font-size: 1.2em;
    margin: 0 15% 0 15%;
}