@font-face {
    font-family: Garamond;
    src: url(../public/GARA.TTF);
}

.center {
    text-align: center;
}

.left-right-align span { 
    display:block;
    float:right;
    margin-left:10px;
    text-align:left;
}

body {
    margin: 0 10% 0 10%;
    font-family: 'Garamond';
}

hr {
    margin-top: -1%;
}