@font-face {
    font-family: Garamond;
    src: url(../public/GARA.TTF);
}

@font-face {
    font-family: Swiss721;
    src: url(../public/swiss.ttf);
}

.center {
    text-align: center;
}

@media only screen and (min-width: 40em) {
    .left-right-align span { 
        display:block;
        float:right;
        margin-left:10px;
        text-align:left;
    }
}

@media only screen and (max-width: 40em) {
    span {
        display: block;
    }
}

@media only screen and (min-width: 63em) {
    body {
        margin: 0 10% 0 10%;
    }
}

body {
    font-family: 'Garamond';
    color: #EDEEF2;
    background-color: #312F37;
}

a {
    color: #EDEEF2;
    text-decoration: none;
}

hr {
    margin-top: -1%;
}

.blog {
    font-family: 'Swiss721';
    font-size: 1.2em;
    margin: 0 15% 0 15%;
}

@media only screen and (min-width: 40em) {
    pre {
        scale: .8;
    }
}

@media only screen and (max-width: 40em) {
    span {
        scale: .6;
    }
}